@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

body {
    font: 14px "Poppins";
    background-color: rgb(205, 205, 222);s
}

h1, h2 {
    text-align: center;
    color: rgb(0, 119, 255);
    text-shadow: 5px 5px 10px rgba(0, 60, 255, 0.522);
}

.centrovany {
    text-align: center;
}

.avatar {
    width: 300px;
}
.left {
    text-align: left;
}