body {
    font-family: Verdana;
    background-color: rgb(205, 205, 222);
}

h1, h2 {
    text-align: center;
    color: rgb(78, 131, 191);
    font-family: Arial;
}

.centrovany {
    text-align: center;
}